<div class="animate__animated animate__fadeIn" style="width: 100%;margin: auto;margin-top: 0;">

  <div style="margin: 12px;">
      <div class="row">
          <div class="col-xl-3"><label class="col-form-label fs-2 fw-bold" style="margin: auto;">Tabla de clientes</label></div>
          <div class="col text-end"><button class="btn btn-primary" routerLink="/crearUsuario" type="button" style="height: 36px;font-size: 14px;width: 154px;margin-top: 16px;">Crear cliente</button></div>
      </div>
  </div>
  <hr />

  <div style="margin: 24px;">
      <table *ngIf="!cargando" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of cliente; index as j">
          <td>{{cliente[j].nombre}}</td>
          <td>{{cliente[j].apellido}}</td>
          <td>{{cliente[j].direccion}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


  <div *ngIf="cargando" class="divCargando animate__animated animate__flash animate__infinite animate__slower" style="margin-left:80px; margin-right:80px; text-align:center;">
    <div class="card" style="width:400px; margin:auto;margin-bottom:24px">
      <p class="mt-3">Cargando...</p>
    </div>
  </div>
  